<!doctype html>
    <footer class="text-muted">
      <div class="container">
        <p class="float-right">
          <a href="/">Back to top</a>
        </p>
        <p>Copyright © 2018 Team R | All rights reserved</p>        
      </div>
    </footer>